{% extends 'base.html.twig' %}

{% block title %}
    Fondation J'Adore Treichville
{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">


            <div id="next">
                <h2>Fondation J'adore Treichville</h2>
                <p>
                    <a href="{{ path('backend') }}">
                        Espace administrateur
                    </a>
                </p>
            </div>

        </div>
    </div>
{% endblock %}

